{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stylesheets/fontello/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/resources.css' %}">
    <title>OKSS | Resources</title>
</head>
<body>
    <div class="body-wrapper">
        <nav class="fake-nav">
            <div href="{% url 'home:homepage' %}"><span class="icon-home-6"></span></div>
            <div href="{% url 'subjects:resources' %}"><span class="icon-sticky-note"></span></div>
            <div href="{% url 'news:home' %}"><span class="icon-newspaper-2"></span></div>
            <div href="{% url 'about:home' %}"><span class="icon-info-3"></span></div>
        </nav>
        <nav id="nav-menu">
            <a href="{% url 'home:homepage' %}" class="link"><span class="icon-home-6"></span></a>
            <a href="{% url 'subjects:resources' %}" class="link"><span class="icon-sticky-note"></span></a>
            <a href="{% url 'news:home' %}" class="link"><span class="icon-newspaper-2"></span></a>
            <a href="{% url 'about:home' %}" class="link"><span class="icon-info-3"></span></a>
        </nav>
        <header>
            <h4>Study Materials</h4>
            <div class="header-tagline">
                We have gathered some study files for you <br>
                to go through. Both notes and questions.
            </div>
            <div class="branch-select">
                <h5>SUBJECTS</h5>
            </div>
        </header>
        <main>
            {% for file in files %}
                <div class="sub">
                    <div class="desc">
                        <p>{{file.title}}</p>
                        <p>{{file.upload_date}}</p>      
                    </div>
                    <div class="icon">
                        <span class="icon-download-6"></span>
                    </div>
                    <a href="{{file.file.url}}" download=""></a>
                </div>
            {% endfor %}
        </main>
    </div>
    <script src="{% static 'scripts/app.js' %}"></script>
    <script src="{% static 'scripts/app-subjects.js' %}"></script>
    <script>
        let colorLinks = Array.from(document.querySelectorAll(".fake-nav > *"));
        colorLinks[1].style.cssText = "color: #179e75;";
    </script>
</body>
</html>